<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/stylelogin.css') }}">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <label for="username"><b>Username:</b></label>
            <input type="text" id="username" name="username" required>

            <label for="email"><b>Email:</b></label>
            <input type="email" id="email" name="email" required>

            <label for="password"><b>Password:</b></label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/">Login here</a>.</p>
    </div>
</body>
</html>